<table class="bordered highlight">
  <thead>
    <tr>
      <th><%= t 'purchase.name' %></th>
      <th><%= t 'purchase.end_date' %></th>
      <th><%= t 'purchase.orders_count' %></th>
      <th><%= t 'actions' %></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.purchases.each do |purchase| %>
    <tr class="cyan lighten-5">
      <td><%= link_to purchase.name, purchase_path(purchase), title: purchase.description %></td>
      <td><%= purchase.end_date %></td>
      <td><%#= purchase.orders_count %></td>
      <td>
        <%= link_to purchase_path(purchase),
                    class: "waves-effect waves-light btn-floating" do %>
                      <i class="material-icons">visibility</i>
                    <% end %>
        <%= link_to edit_purchase_path(purchase), class: "waves-effect waves-light btn-floating" do %>
            <i class="material-icons">mode_edit</i>
        <% end %>
        <%= link_to toggle_purchase_path(purchase, toggle_purchase: 'leave'),
                    class: "waves-effect waves-light btn-floating red remove",
                    method: :post,
                    remote: true,
                    title: t('purchase.leave') do %>
                      <i class="material-icons">close</i>
                    <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
