<div class="row">
  <div class="col s12 m6">
    <%= image_tag current_user.gravatar %>
    <h4><%= current_user.username %></h4>
  </div>
  <div class="col s12">
    <%= link_to edit_user_profile_path, class: "waves-effect waves-light btn" do %>
        <%= t("edit") %>
    <% end %>
    <%= link_to edit_user_registration_path, class: "waves-effect waves-light btn" do %>
        <%= t("profile.change_password") %>
    <% end %>
    <%= link_to new_purchase_path, class: "waves-effect waves-light btn", data: { no_turbolink: true } do %>
        <%= t("purchase.new") %>
    <% end %>
  </div>
</div>
 <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#tab_common"><%= t('profile.common') %></a></li>
        <li class="tab col s3"><a class="active" href="#tab_groups"><%= t('group.my_groups') %></a></li>
        <li class="tab col s3"><a href="#tab_purchases"><%= t('purchase.my_purchases') %></a></li>
        <li class="tab col s3"><a href="#tab_orders"><%= t('purchase.my_orders') %></a></li>
        <li class="tab col s3"><a href="#tab_subscribes"><%= t('profile.my_subscriptions') %></a></li>
      </ul>
    </div>

    <div id="tab_common" class="col s12">
      <%= render "tab_common" %>
    </div>

    <div id="tab_purchases" class="col s12">
      <%= render "tab_purchases" %>
    </div>


    <div id="tab_orders" class="col s12">
      <%= render "tab_orders" %>
    </div>

    <div id="tab_groups" class="col s12">
      <%= render "tab_groups" %>
    </div>

    <div id="#tab_subscribes">
      <%= render "tab_subscribes" %>
    </div>

  </div>
