<table class="bordered highlight" id="groups_list">
  <thead>
    <tr>
      <th><%= t 'number' %></th>
      <th><%= t 'group.city' %></th>
      <th><%= t 'group.name' %></th>
      <th><%= t 'group.participants' %></th>
      <th><%= t 'group.active_purchases_count' %></th>
      <th><%= t 'actions' %></th>
    </tr>
  </thead>

  <% groups.each_with_index do |group,index| %>
  <tr class="<%= 'cyan lighten-5' if current_user && current_user.joined?(group) %>">
    <td><%= index.next %></td>
    <td><%= group.city.name %></td>
    <td><%= group.name %></td>
    <td><%= group.users_count %></td>
    <td><%= group.active_purchases_count %></td>
    <td><%= link_to(group_path(group), class: "waves-effect waves-light btn-floating") do %>
          <i class="material-icons">visibility</i>
        <% end %></td>
  </tr>
  <% end %>
</table>
