<h2><%= @group.name %></h2>
<div class="section flow-text">
  <%= @group.description %>
</div>

<div class="row">
  <div class="col s12">
    <h5>
      <%= @group.city.name unless @group.city.blank? %>
    </h5>
  </div>
</div>

<% if can? [:edit, :destroy], @group %>
  <div class="row">
    <div class="col">
      <%= link_to(edit_group_path(@group), class: "waves-effect waves-light btn-floating") do %>
        <i class='material-icons'>mode_edit</i>
      <% end %>
    </div>
    <div class="col">
      <%= link_to(group_path(@group), class: "waves-effect waves-light btn-floating",
          method: :delete, data: { confirm: (t 'purchase.deletion_confirm')}) do %>
        <i class='material-icons'>delete</i>
      <% end %>
    </div>
<% end %>

<% if can? :toggle_group, @group %>
    <div class="col">
      <%= toggle_group_btn(@group) %>
    </div>
<% end %>
  </div>
