<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <%= link_to image_tag(purchase.image.url(:med)), purchase_path(purchase), class: "activator" %>
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">
          <%= truncate(purchase.name, length: 10) %>
          <i class="material-icons right">more_vert</i>
        </span>
    <p>
      <%= link_to(t(:view), purchase_path(purchase)) %>
    </p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">
          <%= truncate(purchase.name, length: 10) %>
          <i class="material-icons right">close</i>
        </span>
    <p>
      <%= truncate(purchase.description, length: 150) %>
    </p>
  </div>
</div>
