<h2><%= @purchase.name %></h2>
<div class="section flow-text">
  <%= @purchase.description %>
</div>

<div class="row">
  <div class="col s12">
    <h5>
      <%= "#{t 'purchase.end_date'}#{@purchase.end_date}" %>
    </h5>
  </div>
</div>

  <div class="row">
    <div class="col">
      <div class="chip"><%= t("purchase.statuses.#{@purchase.status}") %></div>
    </div>
    <% if can? :update, @purchase %>
    <div class="col">
      <%= link_to(edit_purchase_path(@purchase), class: "waves-effect waves-light btn-floating") do %>
        <i class='material-icons'>mode_edit</i>
      <% end %>
    </div>
    <% end %>
    <% if can? :destroy, @purchase %>
    <div class="col">
      <%= link_to(purchase_path(@purchase), class: "waves-effect waves-light btn-floating",
          method: :delete, data: { confirm: (t 'purchase.deletion_confirm')}) do %>
        <i class='material-icons'>delete</i>
      <% end %>
    </div>
    <% end %>
  </div>

